.wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px;
}

.toggleDisplay {
    cursor: pointer;
    color: var(--color-primary);
}

.cardsWrapper {
    margin-top: 18px;
}